./S1/*.pbs
./S2/*.pbs
./S3/*.pbs
*~
./S1/~
./S2/~
./S3/~
./data/*
./mesh/*
./S1/ELMERSTART*
./S2/ELMERSTART*
./S3/ELMERSTART*
./S1/slurm*
./S2/slurm*
./S3/slurm*
./S1/*result*
./S2/*result*
./S3/*result*
./S1/vtuoutputs/*
./S2/vtuoutputs/*
./S3/vtuoutputs/*
*.pbs
*.vtu
*slurm*
*.so
*.f90